ion-content {
    --background: url("/assets/background/login.jpg") 0 0/100% 100% no-repeat;
  }
  
  #login-form {
    margin-top: 70%;
  }

  h1 {
      color: white;
  }
  
  
  ion-input {
    --color: rgb(255, 255, 255);
  }