<ion-content>
  <h1 text-center margin-top>Register using your email</h1>
  <div id="login-form">
    <ion-card class="login-form-field">
      <ion-card-content>
        <ion-input [(ngModel)]="user.username" placeholder="Username">
        </ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card class="login-form-field">
      <ion-card-content>
        <ion-input
          [(ngModel)]="user.password"
          placeholder="Password"
          type="password"
        ></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" color="medium" (click)="registerUser()"
      >Register</ion-button
    >
  </div>
</ion-content>
