<ion-header>
  <ion-toolbar>
    <ion-title>rooms</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let room of rooms$ | async"
    lines="none"
    (click)="navigateRoomView(room)"
  >
    <ion-card-header>
      <ion-card-title>Room: {{room.Name}} </ion-card-title>
      <ion-card-subtitle>Added by: {{room.User}}</ion-card-subtitle>
      <br />
      <img src="../../assets/background/meetingroom.jpg" />
      <ion-card-subtitle>Status: {{room.Status}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
